.CollapseCard .ant-collapse-content-box {
  padding: 10px !important;
}

.CollapseCard .ant-collapse-header {
  padding: 7px 10px 7px 40px !important;
}

.CollapseCard .TextInput {
  margin-bottom: 10px;
}
.CollapseCard .TextInput:last-child {
  margin-bottom: 0;
}
