.Columns {
  height: 100%;
}

.Columns__left,
.Columns__right {
  overflow-y: auto;
  height: calc(100% - 44px);
}

.Columns__left {
  padding: 10px;
  background: whitesmoke !important;
  border-right: 1px solid gainsboro;
}
